@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    --background: #121218;
    --secondary: #39393A;
    --tertiary: #B1B695;
    --text: #fff;

    /* transition: all 0.3s ease; */
}

body {
    background: var(--background);
    color: var(--text);
}

h1 {
    color: var(--tertiary);
}

#header {
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 2rem;
}

#header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

#header a {
    text-decoration: none;
    color: var(--tertiary);
}

.section {
    margin-bottom: 4rem;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hero section */
#graphic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
}

.main-section h1 {
    margin-bottom: 1.5rem;
}

/* about section */

#about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#about #about-content img {
    width: 10rem;
}

#about #about-content #text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 60%;
    height: 100%;
}

#about #about-content #text-wrapper p {
    margin-bottom: 1.5rem;
}

/* project section */
.project-example {
    height: auto;
    width: 100%;
    margin-bottom: 4rem;
    padding: 2rem;

    max-height: 35rem;

    transition: all 0.3s ease;
}

.project-example:hover {
    background: var(--secondary);
}

#projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#projects-content h1 {
    color: var(--tertiary);
}

#projects-content .project-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    
    gap: 10rem;

    height: 100%;
}

.project-example .project-content {
    width: 50%;
}

.project-example .project-content video {
    height: 100%;
    width: 100%;

    object-fit: contain;
}

.project-example .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    gap: 2rem;
}

.project-example .project-specifics {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.project-example .project-specifics .project-tool-specifics {
    display: flex;
    gap: 2rem;
    color: var(--tertiary);
    justify-content: left;
}

.project-example .link-container i {
    font-size: 2rem;
    color: var(--tertiary);
} 

/* small project section */
#smaller-projects #grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); /* Equal width columns */
    grid-auto-rows: 1fr; /* Equal height rows */
    grid-gap: 1rem;
}

#smaller-projects .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 2rem;
    padding: 1.5rem;

    height: 100%;

    background: var(--secondary);
}

#smaller-projects .larger-project {
    display: none;
}

.project-tools {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
}

.project-card h2, .project-card .project-tools {
    color: var(--tertiary);
}

.project-card h2, .project-card .project-tools a {
    color: var(--tertiary);
}

/* contact / footer section */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

#contact hr {
    width: 90%;
    margin-bottom: 2rem;
}

#contact #contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
}

#contact #left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: auto;
}

#contact #left a, #contact #left p {
    margin-bottom: 1rem;
}

#contact h1 {
    margin-bottom: 2rem;
}

#contact #contact-content a {
    text-decoration: none;
    color: var(--tertiary);
}

#contact #contact-content #icons {
    display: flex;
    justify-content: space-between;
}

#contact button {
    background: var(--background);
    color: var(--text);
    font-size: 1.5rem;
    border: 0.01rem solid;
    padding: 0.2rem;
}

#contact #resume-button {
    text-align: center;
    border: 1px solid var(--tertiary);
    padding: 1.5rem;
}

/* button that brings user to top of page */
#contact #scroll-up, #contact #resume-button {
    color: var(--tertiary);
}

#contact #scroll-up:hover, #contact #resume-button:hover {
    background: var(--tertiary);
    color: var(--background);
}

@media screen and (max-width: 1128px) {
    #projects {
        display: none;
    }

    #smaller-projects .larger-project {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    #about > h1 {
        display: none;
    }

    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about img {
        display: none;
    }

    #about #about-content #text-wrapper {
        width: 100%;
    }

    /* #about #about-content {
        width: 100%;
        height: 100%;
    }

    #about #text-wrapper {
        text-align: center;
        width: 100%;
        height: 100%;
    } */
}